
<section class="main-form" id="hotelRegist">

    <form>
      <div class="image-place">
        <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/tbilisi_tower_hotel/tbilisi_tower.jpg" alt="">
        <label for="hotel-img" id="hotel-img-label">
          <button id="hotel-btn">Upload</button>
          <input type="file" id="hotel-img">
        </label>
      </div>
      <div class="selection">
        <input name="region" id="region" placeholder="Region">
        <input name="city" id="city" placeholder="City">
        <input name="hotel-type" id="hotel-type" placeholder="Hotel type">
        <input name="class" id="class" placeholder="Class">
        <input type="text" id="name" placeholder="Hotel Name">
        <input type="text" id="address" placeholder="Address">
        <input name="room-number" id="room-number" placeholder="Room number">
        <input name="bed" id="bed" placeholder="Bed">
      </div>
      <div class="checkbox">
        <label for="parking">Parking
          <input type="checkbox" id="parking">
        </label>
        <label for="spa">Spa
          <input type="checkbox" id="spa">
        </label>
        <label for="pool">Pool
          <input type="checkbox" id="pool">
        </label>
      </div>
      <div class="info-field">
        <textarea name="about-hotel" id="about-hotel" cols="30" rows="10" placeholder="About hotel..."></textarea>
      </div>
      <div class="room-place">
        <button id="room-show-btn">Upload</button>
        <input type="file" title="Room images" id="room-btn">
        <div class="room-image">
          <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/bitmore_hotel/biltmore.jpg" alt="">
          <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/bitmore_hotel/biltmore.jpg" alt="">
          <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/bitmore_hotel/biltmore.jpg" alt="">
          <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/bitmore_hotel/biltmore.jpg" alt="">
          <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/bitmore_hotel/biltmore.jpg" alt="">
          <img src="./assets/img/georgiaImages/tbilisi/tbilisi_hotels/bitmore_hotel/biltmore.jpg" alt="">
        </div>
      </div>
      <input type="submit" id="btn">
    </form>


</section>

