<section id="hotelInfoPage">
  <div class="hotel-info-page-maincontant">
    <div class="hotel-image-info">
      <img id="hotelImage" class="mainImg" src="" alt="">
   </div>
    <div class="hotel-info-text">
       <div class="header">
          <h4 id="headerTitle"></h4>
         <p>
           <span class="address">Adress : </span>
           <span id="distHeader"></span>,
           <span id="cityHeader"></span>,
           <span id="addressHeader"></span>
         </p>
       </div>
            <p id="infoHeader"></p>
        <div class="raiting">
          <span id="starsNumber"></span>
          <span><i class='bx bxs-star'></i></span>
         </div>

             <div class="footer-info">
               <p> Status :
                 <span id="premiumRoom" class="premium-icon"> </span>
                 <span id="standartRoom" class="standart-icon"> </span>
               </p>
               <p>Number of Rooms : <span id="rommsnumber"></span></p>
               <p>Rooms Type:  <span id="rommstype"></span></p>
             </div>
        </div>
  </div>
  <div class="hotel-room-img">
    <img src="" alt="">
  </div>
</section>




