

<footer>
    <ul class="links">
  <li class="facebook">
    <a href="#"><i class='bx bxl-facebook' ></i></a>
  </li>
  <li  class="twitter">
    <a href="#"><i class='bx bxl-twitter' ></i></a>
  </li>
  <li  class="instagram">
    <a href="#"><i class='bx bxl-instagram'></i></a>
  </li>
    </ul>

<div class="signature">
  <p >Original code by Beso Gugushvili</p>
</div>

  <div class="btn">
<ul>
  <li class="left" id="next"><i class='bx bxs-chevron-left' ></i></li>
  <li class="right" id="previous"><i class='bx bxs-chevron-right' ></i></li>
</ul>
  </div>
</footer>


