@import 'src/app/app.component.scss';


.notFound {
  @include size(80vh, 100%);
  @include d-center;
  .text {
    text-align: center;
    h1 {
      font-size: 96px;
      color: red;
    }
    h2 a{
      font-family:$mainFont;
      text-shadow: -6px 1px 4px rgba(150, 150, 150, 1);
      &:active{
        text-shadow: none;
        transition: text-shadow .3s ease-in-out;
      }
    }
  }
}
