@import 'src/app/components/home/home.component.scss';





.main-content {
  position: relative;
  @include size(100vh, 100%);
  overflow: hidden;
  .hidden-menu{
    display: none;
    position: absolute;
    z-index: 20;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 64px;
    align-items: center;
    @include glassForm;
    ul{
      text-align: center;
      text-transform: uppercase;
      li{
        font-size: 3rem;
        padding: 1em;
        :hover{
          text-shadow: blue 1px 1px;
        }
        a{
          font-family: $mainFont;
          color: white;
        }
      }
    }
  }
  .show-list{
    width: 100%!important;
    transition: width .3s ease-in-out .6s;
    @include d-center;
  }
  .place-info {
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0, rgba(0, 0, 0, 0), rgba(255, 255, 255, .3));
    @include size(100%, 50%);
    @include d-center;
    padding-inline: 7em;
    transition: width .3s ease-in-out;
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
    @media screen and (max-width: 475px) {
      padding-inline: 0;
    }
    .text {

      color: $formColor;
      transition: transform .3s linear;
      @media screen and (max-width: 1140px) {

        margin: 0 0 0 14em;
      }
      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 0;
      }

      h1 {
        font-family: $titleFont;
        font-size: 10em;
        @media screen and (max-width: 768px) {
          font-size: 5em;
        }
        @media screen and (max-width: 270px){
          font-size: 3em;
        }
      }
      p {
        font-family: $textFont;
        font-weight: 400;
        font-size: 1.5em;
        padding: .3em;
        @media screen and (max-width: 580px){
          font-size: 1em;
        }
        @media screen and (max-width: 390px){
          font-size: 0.7em;
        }
        @media screen and (max-width: 270px){
          font-size: 0.5em;
        }
      }
    }
    .title{
      animation: text-scroll .7s linear ;
    }
    .text-hide{
      transition: transform .3s linear;
      transform: translate(-91rem, 0%);

    }
    .display-none{
      display: none;
    }
    .paragraph{
      width: 25em;
      animation: text-scroll 1s linear ;
    }
    .hotel-list{
      position: relative;
      opacity:0;
      @include size(80%,60%);
      overflow: hidden;
      box-shadow: 13px 11px 20px 0px #a9a9a942, -13px -11px 60px #e5e5e52b,
      inset 0px 20px 20px 0px #00000066, inset 0px -20px 60px #00000066;
      backdrop-filter: blur(25px);
      background: radial-gradient(at 50% 0, rgb(240 237 237 / 78%), rgba(255, 255, 255, 0.91));
      transition: opacity .3s linear ;
    }
    .hotel-list-show{

      opacity: 1;
      transition: opacity .3s linear .3s;
    }
  }
  .place {
    @include size(100%, 100%);
    background-color: red;
    img {
      position: absolute;
      @include size(100%, 100%);
      opacity: 1;
      transition: opacity 2s ease-in-out;
    }
    .imgOne{
      z-index: 3;
    }
    .imgTwo{
      z-index: 2;
    }
    .imgThree{
      z-index: 1;
    }
    .imgFour{
      z-index: 0;
    }
    .hide{
      opacity: 0;
      transition: opacity 2s ease-in-out;
    }
  }
}
.dp-flex{
  display: flex!important;
}

@keyframes text-scroll {
  0% {
    transform: translate(-10em, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}


