<section>
  <div class="main-content" id="mainContent">
    <div class="hidden-menu" id="hidden-menu">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="">Destination</a></li>
        <li><a routerLink="">Sighn-In</a></li>
        <li><a routerLink="">Registration</a></li>
      </ul>
    </div>
    <div class="place-info" id="info">
      <div class="text" id="textContent">
        <h1 class="title" id="title">{{mainTextContent[0].title}}</h1>
        <p class="paragraph" id="text">{{mainTextContent[0].text}}</p>
      </div>

      <div class="hotel-list" id="list">
        <app-hotel-list></app-hotel-list>
        <app-hotel-info></app-hotel-info>
      </div>
      <app-profile-page></app-profile-page>
      </div>

      <app-form></app-form>


    <div class="place" id="imgPlace">
      <img class="imgOne" src="" alt="">
      <img class="imgTwo"  src="" alt="">
      <img class="imgThree"  src="" alt="">
      <img class="imgFour"  src="" alt="">
    </div>
  </div>
</section>


